/*
* 
* @author Jamilton Damasceno
*/

/* Layout
-----------------------------*/
html, body, #home {
    height: 100%; /* Define a altura de html, body e #home como 100% da tela */
    overflow-x: hidden; /* Impede o scroll horizontal */
}

body {
    background: url(../imagens/capa.png), /* Imagem de fundo (primeira camada) */
                url(../imagens/ruido.png), /* Imagem de fundo (segunda camada) */
                linear-gradient(50deg,#ff4169,#7c26f8); /* Gradiente de fundo */
    background-attachment: fixed; /* Mantém a imagem de fundo fixa ao rolar */
    font-family: Helvetica,Arial,sans-serif; /* Define a fonte padrão da página */
}

/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
    padding: 15px 0px; /* Espaçamento interno (padding) na barra de navegação */
    background: rgba(0,0,0,0.6); /* Cor de fundo semi-transparente */
}

.navbar-light .navbar-nav .nav-link {
    color: white; /* Cor do texto dos links na barra de navegação */
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1; /* Cor do texto dos links ao passar o mouse */
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5); /* Cor do ícone do botão de toggler */
    border-color: rgba(255,255,255,0.5); /* Cor da borda do botão de toggler */
}

.divisor {
    width: 1px; /* Largura da linha divisória */
    background: white; /* Cor da linha divisória */
    margin: 12px 15px; /* Margens ao redor da linha divisória */
}

/* Capa
-----------------------------*/
.capa {
    text-align: center; /* Centraliza o conteúdo dentro da classe capa */
}

.btn-custom {
    color: white; /* Cor do texto do botão customizado */
    border-radius: 500px; /* Bordas arredondadas no botão */
    -webkit-border-radius: 500px; /* Compatibilidade com navegadores antigos */
    -moz-border-radius: 500px; /* Compatibilidade com navegadores antigos */
    text-transform: uppercase; /* Transforma o texto do botão em maiúsculas */
    transition: background 0.4s, color 0.4s; /* Animações de transição para o fundo e cor */
    padding: 10px 20px; /* Espaçamento interno do botão */
}

.btn-roxo {
    background: #7c25f8; /* Cor de fundo do botão roxo */
}

.btn-roxo:hover {
    background: #6207e3; /* Cor de fundo ao passar o mouse no botão roxo */
    color: white; /* Cor do texto ao passar o mouse no botão roxo */
}

.btn-branco {
    border: 2px solid white; /* Borda branca no botão branco */
}

.btn-branco:hover {
    background-color: white; /* Cor de fundo ao passar o mouse no botão branco */
    color: black; /* Cor do texto ao passar o mouse no botão branco */
}

.carousel-control-next, .carousel-control-prev {
    width: 5%; /* Largura dos controles do carrossel */
}

/* Estrutura conteúdos
-----------------------------*/
.caixa {
    padding-top: 20px; /* Espaço acima do conteúdo */
    padding-bottom: 20px; /* Espaço abaixo do conteúdo */
}

#servicos {
    background: white; /* Cor de fundo da seção serviços */
}

#recursos {
    color: white; /* Cor do texto na seção recursos */
}

#servicos h2, h3 {
    color: #7c25f8; /* Cor dos títulos h2 e h3 na seção serviços */
}

#recursos h2 {
    color: white; /* Cor do título h2 na seção recursos */
}

#recursos h3 {
    color: #9bf0e1; /* Cor do título h3 na seção recursos */
}

.albuns {
    padding: 10px 0; /* Espaçamento vertical para a classe albuns */
}

.rotacionar {
    -ms-transform: rotate(30deg); /* Rotação para IE 9 */
    -webkit-transform: rotate(30deg); /* Rotação para Chrome, Safari, Opera */
    transform: rotate(30deg); /* Rotação geral */
    padding-left: 80px; /* Espaço à esquerda */
}

/* Rodapé
-----------------------------*/
footer {
    background: #000; /* Cor de fundo do rodapé */
    padding: 50px 0px 20px 0px; /* Espaçamento interno do rodapé */
    position: relative; /* Posição relativa para os filhos absolutos */
}

footer h4 {
    color: #919496; /* Cor do título h4 no rodapé */
    font-size: 0.8em; /* Tamanho da fonte */
    text-transform: uppercase; /* Transformar texto em maiúsculas */
}

footer .navbar-nav a {
    color: white; /* Cor dos links no rodapé */
    font-size: 0.8em; /* Tamanho da fonte dos links */
}

footer .navbar-nav a:hover {
    color: #9bf0e1; /* Cor dos links ao passar o mouse no rodapé */
    text-decoration: none; /* Remove sublinhado ao passar o mouse */
}

footer ul {
    list-style: none; /* Remove marcadores da lista */
}

footer ul li {
    float: right; /* Alinha os itens da lista à direita */
    margin: 0 5px; /* Margens dos itens da lista */
}

/* Tipografia
-----------------------------*/
h1 {
    font-weight: 900; /* Peso da fonte do título h1 */
    letter-spacing: -0.05em; /* Espaçamento entre letras */
    margin-bottom: 50px; /* Espaço abaixo do título h1 */
    color: white; /* Cor do texto do título h1 */
}

h2 {
    font-size: 3em; /* Tamanho da fonte do título h2 */
    font-weight: 700; /* Peso da fonte do título h2 */
    letter-spacing: -0.04em; /* Espaçamento entre letras */
}

h3 {
    font-size: 2em; /* Tamanho da fonte do título h3 */
    font-weight: 700; /* Peso da fonte do título h3 */
    letter-spacing: -0.04em; /* Espaçamento entre letras */
}

/* Estilos Responsivos
-----------------------------*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .btn-custom {
        margin: 10px 15px; /* Margens para botões em dispositivos pequenos */
        font-size: 1em; /* Tamanho da fonte dos botões em dispositivos pequenos */
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 3em; /* Tamanho do título h1 em dispositivos pequenos */
    }
    .btn-custom {
        margin: 10px 15px; /* Margens para botões em dispositivos pequenos */
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 4em; /* Tamanho do título h1 em dispositivos médios */
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
}